# ------------------------
# Python
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# ------------------------
# Streamlit cache
# ------------------------
.streamlit/

# ------------------------
# VSCode
# ------------------------
.vscode/

# ------------------------
# Logs / Temp
# ------------------------
*.log
*.tmp

# ------------------------
# OS-specific
# ------------------------
.DS_Store
Thumbs.db